@import url('https://fonts.googleapis.co/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');


$primary_1: #422755;

header {
  
  width: auto;
  height: 381px;
  background: $primary_1;
  

};